<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">EJS is sorta "Fun"</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/login">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/trip">Trips</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/destination">Destinations</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/plan_trip">Plan Trip</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/cancel_trip">Cancel Trip</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/add_destination">Add Destination</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/remove_destination">Remove Destination</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/update_destination">Update Destination</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/update_trip">Update Trip</a>
		</li>
	</ul>
</nav>