 <!DOCTYPE html>
 <html lang="en">
 <head>
     <%- include('../partials/head'); %> 
 </head>
 <body class="container">

     <header>
         <%- include('../partials/header'); %>
     </header>

     <main>
         <div class="jumbotron">
         <!-- Final Project Sprint 2 -->
             <h1>Vacation Time</h1>
             <p>Welcome to Johan Seligman's Travel Agency!</p> 
             <i></i>

             <p> </p>
             <br>
             <br>
             <div>
              <img src="https://photostorage.explorest.com/usa/hawaii/vlim-mai-poina-palmtree-feed.jpg" alt="beach" width="700" height="450">  
             </div>
             <br>
             <br>
             <br>
             <br>
             <br>
         </div>
     </main>

     <footer>
         <%- include('../partials/footer'); %>
     </footer>
 </body>
 </html> 