<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <hr>
        <h2>Add/Update Trip</h2>
        <br>
        <!-- print thank you message-->
        <p> Thank you for using Johan's Travel Services!</p>
        <br>
        <!-- print the content of the form submission -->
        <h2><%=update trip %></h2>
        <br><br>
        <!-- this button will go back to the update trip page -->
        <a href="/add_trip"><button type="button" class="back"><-- Back</button></a>  
        <hr>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>